<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.room.finder.mapper.AdvertisementMapper">
    <insert id="saveAdvertisement" parameterType="com.room.finder.model.Advertisement">
       insert into advertisement(title,description,room_availabe_date,address,rent,landlord_id,status)values
       (#{title},#{description},#{roomAvailableDate},#{address},#{rent},#{landlordId},#{status})
    </insert>
    <update id="updateAdvertisement" parameterType="com.room.finder.model.Advertisement">
        update advertisement set title=#{title},description=#{description},room_available_date=#{roomAvailableDate},rent=#{rent}
        status=#{status}
    </update>
    <delete id="deleteAdvertisement" parameterType="Integer">
        delete from advertisement where id=#{id}
    </delete>
    <select id="findPendingAdvertisementById" resultType="com.room.finder.model.Advertisement">
        select * from advertisement where status='pending' and id=#{id}
    </select>
    <select id="findAllAcceptedAdvertisement" resultType="com.room.finder.model.Advertisement">
        select * from advertisement where status='accepted';
    </select>
    <select id="findAllUnderReviewAdvertisement" resultType="com.room.finder.model.Advertisement">
        select * from advertisement a inner join room r on a.id=r.advertisement_id;
    </select>




</mapper>
